select{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
::selection {
	background:#F40000;
	color:#FFFFFF;
	text-shadow:none;
}
::-moz-selection {
	background:#F40000;
	color:#FFFFFF;
	text-shadow:none;
}
input[type=text]{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}