@media only screen and (min-width:2560px) and (max-width:5000px) {

}

@media only screen and (min-width:1900px) and (max-width:2000px) {

}

@media only screen and (min-width:1121px) and (max-width:1279px) {
	.container {
		width: 98%;
		padding: 0 15px;
	}
	.navbar-nav li{
		margin-right: 15px;
	}
	.reference-wrap {
	    padding-left: 0;
	}

	.support-box{
		padding: 30px 25px;
	}
	.support-box a{
		font-size: 16px;
	}

	.campaigns-box .img-wrap{
		height: 220px;
	}
	.campaigns-box .text-wrap {
	    padding: 30px 15px;
	}
	.campaigns-box .text-wrap h4{
		width: 64%;
		padding-left: 8px;
		font-size: 16px;
	}
	.refres-btn{
		right: 0;
	}

	.details-wrap{
		padding: 0 2%;
	}

	.campaigns-list .range{
		right: 15px;
		bottom: 40px;
	}
}

@media only screen and (min-width:992px) and (max-width:1120px) {
	.container {
		width: 98%;
		padding: 0 15px;
	}
	h1{
		font-size: 32px;
	}
	.main-raw {
	    padding: 40px 0;
	}

	.nav-main li{
		margin-right: 15px;
	}
	.nav-main li a{
		padding: 0 15px 0 35px;
		font-size: 14px;
	}
/* Login */	
	.branding{
		width: 115px;		
	}
	.login-con{
		padding: 40px 0 0;
	}


/* References */
	.reference-wrap {
	    padding-left: 0;
	}
	.reference-box{
		padding: 30px 30px 15px;
	}

/* support */

	.support-box{
		padding: 30px 25px;
		margin-top: 40px;
	}
	.support-box a{
		background-position: right 20px center;
		font-size: 14px;
		line-height: 60px;	
		padding: 0 40px 0 50px;
	}
	.support-box a i{
		left: 15px;
	}
	.support-box a i svg{
		width: 16px;
	}


	.campaigns-box .img-wrap{
		height: auto;
	}
	.campaigns-box .text-wrap {
	    padding: 25px 15px;
	    min-height: 110px;
	}
	.campaigns-box .text-wrap h4{
		width: 85%;
		padding-left: 8px;
		font-size: 16px;
	}
	.campaigns-list .range{
		bottom: 20px;
	    left: 62px;
	    margin: 0;
	    right: inherit;
	}
	.refres-btn{
		right: 0;
	}

	.details-wrap{
		padding: 0;
	}
	.details-left{
		padding-right: 15px;
	}

	.pack-box{
		padding: 20px 15px;
	}
	.pack-title h2{
		font-size: 18px;
	}
	.pack-list h5, .pack-list span{
		font-size: 14px;
	}



}



@media (max-width:991px) {}

@media only screen and (min-width:768px) and (max-width:991px) {
	.container {
		width: 98%;
		padding: 0 15px;
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 20px;
	}
	h4{
		font-size: 16px;
	}
	p{
		font-size: 16px;
	}
	.main-raw {
	    padding: 40px 0;
	}
	.inner-title p br{
		display: none;
	}


	.navbar-nav{
		padding-right: 62px;
	}
	.nav-main li{
		margin-right: 20px;
	}
	.nav-main li a{
		padding: 30px 0 0;
		font-size: 14px;
		line-height: 50px;
	}
	.nav-main li i{
		width: 26px;
		height: 26px;
		line-height: 22px;
		right: 0;
		margin: 0 auto;
		top: 12px;
	}
	.profile a{
		padding: 0 15px;
	}

/* Login */	
	.branding{
		width: 115px;		
	}
	.login-con{
		padding: 40px 0 0;
	}

/* References */
	.inner-title h1 {
    	font-size: 20px;	
	}
	.reference-wrap {
	    padding-left: 0;
	}
	.reference-box{
		padding: 10px 12px 15px;
	}
	.reference-list .img-wrap {
	    min-height: 70px;
	    line-height: 70px;
	}
/* support */

	.support-box{
		padding: 25px 20px;
		margin-top: 30px;
	}
	.support-box a{
		background-position: right 20px center;
		font-size: 14px;
		line-height: 120%;	
		padding: 15px 40px 15px 40px;
	}
	.support-box a:last-child{
		line-height: 33px;
	}
	.support-box a i{
		left: 15px;
		top: 15px;
	}
	.support-box a i svg{
		width: 16px;
	}
	

	.campaigns-box .img-wrap{
		height: auto;
	}
	.campaigns-box .text-wrap {
	    padding: 20px 12px;
	    min-height: 90px;
	}
	.campaigns-box .text-wrap h4{
		width: 85%;
		padding-left: 8px;
		font-size: 14px;
		line-height: 30px;
	}
	.campaigns-ico{
		width: 30px;
		height: 30px;
	}
	.range{
		float: left;
	    line-height: inherit;
	    margin: 15px 0 0;
	}
	.campaigns-list .range{
		bottom: 20px;
	    left: 50px;
	    margin: 0;
	    right: inherit;
	}
	.value-filter .form-control{
		width: 140px;
	}
	.need-selector .dropdown{
		width: 56%;
	}
	.dropdown dt a{
		height: 50px;
		line-height: 50px;
	}
	.dropdown dd ul{
		padding: 25px 20px 25px 25px;
	}
	.dropdown dd ul li a label{
		font-size: 16px;
	}
	.refres-btn{
		right: 0;
		font-size: 12px;
		top: 40px;
	}
	

	
	.details-wrap{
		padding: 0;
	}
	.detials-title{
		padding: 0;
	}
	.detials-title .time{
		position: relative;
		float: left;
	}
	.details-left{
		padding-right: 0;
	}

	.pack-box{
		padding: 20px 15px;
	}
	.pack-title, .start-btn{
		width: 20%;
	}
	.pack-title h2{
		font-size: 18px;
	}
	.pack-list{
		width: 60%;
		margin: 0;
	}
	.pack-list ul li{
		width: 50%;
		margin-top: 5px;
	}
	.pack-list h5, .pack-list span{
		font-size: 14px;
	}

	.attract-list ul li{
		width: 48%;
	}



}

@media only screen and (min-width:850px) and (max-width:1024px) {}

@media only screen and (min-width:900px) and (max-width:1024px) {}

@media only screen and (min-width:950px) and (max-width:1024px) {}

@media (max-width: 767px) {
	.res-navigation{
		display: block;
	}
	.header-main{
		text-align: center;
	}
	.navbar-toggle{
		left: 15px;
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    top: 25px;
	}
	.navbar-toggle .icon-bar{
		background: #333;
		border-radius: 0;
	}
	.header-main .branding{
		float: none;
		display: inline-block;
		width: 90px;
		padding: 10px 0 5px;
	}
	.header-right{
		position: relative;
		top: 0;
		left: 0;
		padding: 0 15px;
		width: 100%;
	}
	
	.nav-main{
		background: #ffffff;;
		width:100%;
		height:auto;
		position:fixed;
		left: -100%;
		top: 67px;
		padding-right: 0;
		overflow:auto;
		text-align: left;
		transition: all 0.5s ease 0s;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
	}
	.nav-main.active{
		left: 0;	
	}
	.nav-main ul{
		padding: 15px;
	}
	.nav-main li{
		float: left;
		width: 100%;
		margin: 0;
		transform: translate3d(-70px, 0px, 0px);
		opacity: 0;
	}
	.nav-main.active ul li {
		opacity: 1;
		transform: translate3d(0px, 0px, 0px);
	}
	.nav-main.active ul li:nth-child(1) {
		transform: translate3d(0, 0, 0);
		transition: all .3s ease-out .2s
	}
	.nav-main.active ul li:nth-child(2) {
		transform: translate3d(0, 0, 0);
		transition: all .3s ease-out .3s
	}
	.nav-main.active ul li:nth-child(3) {
		transform: translate3d(0, 0, 0);
		transition: all .3s ease-out .4s
	}
	.nav-main.active ul li:nth-child(4) {
		transform: translate3d(0, 0, 0);
		transition: all .3s ease-out .5s
	}
	.nav-main.active ul li:nth-child(5) {
		transform: translate3d(0, 0, 0);
		transition: all .3s ease-out .6s
	}
	.nav-main li a{
		width: 100%;
		line-height: 60px;
	}
	.nav-main li a i{
		top: 16px;
	}

	.nav-main .sub-nav{
		position: relative;
		left: 0;
		top: 0;
		opacity: 1;
		visibility: visible;
		border: none;
		box-shadow: none;
		transition: all 0.5s ease 0s;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
	}
	.nav-main ul li.has-sub:hover .sub-nav{
		top: 0;
	}
	.caret{
		border-width: 10px;
		position: absolute;
		right: 0;
		top: 45%;
	}



	.prfile-box{
		top: 66px;
	}
	.profile{
		top: -66px;
	}
	.profile button{
		padding: 0 20px;
		line-height: 66px;
	}



	.form-control, .btn-main{
		height: 46px;
	}
	.login-con{
		padding: 0;
	}
	.login-right{
		display: none;
	}
	.form-main .btn-main{
		height: 50px;
	}
	.main-wraper{
		margin-top: 66px;
	}
	.main-raw {
	    padding: 30px 0;
	}
	.inner-title p br{
		display: none;
	}
	p{
		font-size: 14px;
	}

	.footer-con p{
		float: left;
	}
	.footer-con a{
		position: relative;
		float: right;
	}

	.inner-title h1 {
    	font-size: 20px;	
	}
	.reference-box{
		padding: 15px 12px;
	}
	.reference-list .img-wrap {
	    min-height: 70px;
	    line-height: 70px;
	}


	.support-box{
		width: 100%;
		padding: 25px 20px;
		margin-top: 30px;
	}

	.campaigns-box .img-wrap{
		height: auto;
	}
	.campaigns-ico{
		width: 30px;
		height: 30px;
	}
	.campaigns-list .range{
		bottom: 20px;
		left: 48px;
		right: inherit;
	}
	.range{
		float: left;
	    line-height: inherit;
	    margin: 15px 0 0;
	}

	.need-selector .dropdown{
		width: 100%;
	}
	.dropdown dt a{
		height: 50px;
		line-height: 50px;
	}
	.dropdown dd ul{
		padding: 25px 20px 25px 25px;
	}
	.dropdown dt a span{
		font-size: 16px;
	}
	.dropdown dd ul li a label{
		font-size: 14px;
	}
	.refres-btn{
		position: relative;
		margin-top: 15px;
		right: 0;
		font-size: 12px;
		top: 0;
	}
	.need-wrap{
		min-height: 200px;
	}

	.campaigns-head{
		padding: 0;	
	}
	.campaigns-head h2{
		width: 100%;
	}
	.value-filter{
		position: relative;
		padding-top: 20px;
	}


	.details-wrap {
	    display: inline-block;
	    float: none;
	    padding: 0;
	    width: auto;
	}
	.details-left {
	    padding: 0 15px;
	    position: relative;
	    top: 0;
	}
	.details-right {
	    padding: 40px 15px 0;
	}


	.details-wrap{
		padding: 0;
	}
	.detials-title{
		padding: 0;
	}
	.detials-title .time{
		position: relative;
		float: left;
	}
	.pack-box{
		padding: 20px 15px;
	}
	.start-btn .btn-main{
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	.panel-body {
		padding: 10px 25px 30px;
	}
		


}

@media only screen and (max-device-width: 480px) {
	html {
		-webkit-text-size-adjust: none;
	}
}

@media only screen and (min-width:480px) and (max-width:767px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	h1{
		font-size: 26px;
	}
	h2{
		font-size: 20px;
	}
	h4{
		font-size: 16px;
	}

/* Login */	
	.branding{
		width: 115px;		
	}
	.login-main {
 	   padding: 40px 50px;
	}

/* Login */

/* References */
	.inner-title h1 {
    	font-size: 20px;	
	}
	.reference-wrap {
	    padding-left: 0;
	}
	.reference-list ul li{
		width: 32%;
		margin-right: 2%;
	}
	.reference-list ul li:nth-child(5n){
		margin-right: 2%;
	}
	.reference-list ul li:nth-child(3n){
		margin-right: 0;
	}

/* support */
	.support-box a{
		font-size: 14px;
		line-height: 50px;	
		padding: 0 50px 0 50px;
	}
	.support-box a i{
		left: 20px;
	}
	.support-box a i svg{
		width: 16px;
	}

	.campaigns-list ul li{
		width: 48%;
		margin: 15px 1% 0;
	}
	.campaigns-list ul li:nth-child(3n){
		margin: 15px 1% 0;
	}
	.campaigns-box .text-wrap {
	    padding: 20px 10px;
	    min-height: 90px;
	}
	.campaigns-box .text-wrap h4{
		width: 84%;
		padding-left: 8px;
		font-size: 13px;
		line-height: 30px;
	}

	.details-rating ul li{
		width: 33%;
	}
	
	.pack-title{
		width: 40%;
	}
	.pack-title h2{
		font-size: 18px;
	}
	.pack-list{
		width: 100%;
		padding: 0;
	}
	.pack-title h2{
		width: auto;
	}
	.pack-title .time{
		margin: -4px 0px 0 15px;
	}
	.pack-list h5, .pack-list span{
		font-size: 14px;
	}
	.start-btn{
		position: absolute;
		top: 10px;
		right: 15px;
	}

	.attract-list ul li{
		width: 48%;
		margin: 10px 1% 0;
	}


	
	

}

@media only screen and (min-width:550px) and (max-width:767px) {
	.campaigns-box .text-wrap {
	    padding: 20px 20px;
	}
	.campaigns-list .range{
		left: 58px;
	}
	.campaigns-box .text-wrap h4{
		font-size: 14px;
	}
}

@media only screen and (min-width:600px) and (max-width:767px) {

}

@media only screen and (min-width:650px) and (max-width:767px) {

}

@media only screen and (min-width:700px) and (max-width:767px) {}





@media (max-width:479px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	h1{
		font-size: 26px;
	}
	h2{
		font-size: 20px;
	}
	h4{
		font-size: 16px;
	}

	.navbar-brand{
		margin-left: -20px;
	}

/* Login */	
	.branding{
		width: 100px;		
	}
	.login-main {
 	   padding: 40px 10%;
	}
	
		
/* Login */


/* References */

	.reference-wrap {
	    padding-left: 0;
	}
	.reference-list ul li{
		width: 49%;
		margin-right: 2%;
	}
	.reference-list ul li:nth-child(5n){
		margin-right: 2%;
	}
	.reference-list ul li:nth-child(2n){
		margin-right: 0;
	}

/* support */
	.support-box{
		padding: 25px 15px;
	}
	.support-box a{
		background-image: none !important; 
		font-size: 14px;
		line-height: 120%;	
		padding: 12px 15px 12px 50px;
	}
	.support-box a:last-child{
		line-height: 34px;
	}
	.support-box a i{
		left: 15px;
		top: 12px
	}
	.support-box a i svg{
		width: 16px;
	}


	.campaign-tab ul li{
		padding: 0 34px;
	}
	.campaign-tab ul li a{
		font-size: 14px;
	}
	.switch{
		top: -3px;
		left: 32px;
	}
	.campaigns-list ul li{
		width: 100%;
		margin: 15px 0 0;
	}
	.campaigns-list ul li:nth-child(3n){
		margin: 15px 0 0;
	}
	.campaigns-box .text-wrap {
	    padding: 25px 10px;
	}
	.campaigns-box .text-wrap h4{
		width: 64%;
		padding-left: 8px;
		font-size: 13px;
		line-height: 30px;
	}
	.campaigns-list .range{
		line-height: inherit;
		bottom: 30px;
		right: 15px;
	}
	.range{
		float: right;
		margin: 0;
		line-height: 30px;
	}

	.details-rating ul li{
		width: 50%;
	}
	.pack-title{
		width: 40%;
	}
	
	.pack-title h2{
		font-size: 18px;
	}
	.pack-list ul li{
		width: 50%;
		margin: 5px 0 0;
	}
	.pack-list{
		width: 100%;
		padding: 0;
	}
	.pack-title h2{
		width: auto;
	}
	.pack-title .time{
		margin: -4px 0px 0 15px;
	}
	.pack-list h5, .pack-list span{
		font-size: 14px;
	}
	.start-btn{
		position: absolute;
		top: 10px;
		right: 15px;
		width: 90px;
	}
	.attract-list ul li{
		width: 100%;
		margin: 10px 0 0;
	}

	



}

@media only screen and (min-width:350px) and (max-width:479px) {
	.campaigns-box .text-wrap {
	    padding: 25px 15px;
	}
	.campaigns-box .text-wrap h4{
		width: 68%;
		font-size: 16px;
	}
}

@media only screen and (min-width:375px) and (max-width:479px) {
	
}

@media only screen and (min-width:400px) and (max-width:479px) {}

@media only screen and (min-width:450px) and (max-width:479px) {}



@media (max-width:299px) {}
