@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
	padding: 0;
	margin: 0;
	list-style: none;
}

html {
	overflow-x: hidden;
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
}

html.Home,
.Home body {
	overflow: hidden;
}

html,
html a,
body {
	-webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	font-family: 'Barlow', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: 400;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

ol,
ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

button {
	cursor: pointer;
	border: none;
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: """";
}

body {
	font-family: 'Barlow', sans-serif;
	background: #F6F8FA;
	font-size: 100%;
	color: #000;
	line-height: 100%;
	font-style: normal;
	font-weight: normal;
}

input[type=checkbox] {
	vertical-align: top;
}

input[type=radio] {
	height: auto;
	vertical-align: top;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

table {
	border: 0 none;
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}

img {
	border: 0 none;
	max-width: 100%;
}

a {
	color: #F40000;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}





h1 {
	float: left;
	width: 100%;
	font-family: 'Barlow', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #273138;
	line-height: 120%;
}

h2 {
	float: left;
	width: 100%;
	font-family: 'Barlow', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #273138;
	line-height: 120%;
}

h3 {
	float: left;
	width: 100%;
	font-family: 'Barlow', sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: #273138;
	line-height: 120%;
}

h4 {
	float: left;
	width: 100%;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #6E6E6E;
	line-height: 120%;
}

h5 {
	float: left;
	width: 100%;
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #273138;
	line-height: 120%;
}

h6 {
	float: left;
	width: 100%;
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #B3B3B3;
	line-height: 120%;
}

p {
	float: left;
	width: 100%;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #6E6E6E;
	line-height: 160%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

a:focus,
a:hover {
	color: #D70005;
	text-decoration: none;
}

.form-control{
	background-image: none;
	background: #F7F7F7;
	float:left;
	width: 100%;
	height: 50px;
	padding: 0 15px;
	color: #273138;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	border: 1px solid transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.form-control:focus{
	box-shadow: 0px 0px 10px rgba(244, 0, 9, 0.25);
	-moz-box-shadow: 0px 0px 10px rgba(244, 0, 9, 0.25);
	-webkit-box-shadow: 0px 0px 10px rgba(244, 0, 9, 0.25);
	border-color: #F40009;
}
.btn-main{
	display: inline-block;
	background: #F40009;
	width: auto;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	line-height: 48px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.btn-main:focus, .btn-main:hover{
	background: #D70005;
}
.img-wrap, .text-wrap, .section, ul{
	float: left;
	width: 100%;
}
.container{
	width: 1240px;
	padding: 0;
}
.main-raw{
	padding: 50px 0;
}

section {
    background: #F6F8FA;
    float: left;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    z-index: 9;
}


/* ------ Login-start ------ */
.login-wrap section{
	margin: 0;
	overflow: hidden;
}
.login-main {
	padding: 50px 15px 50px 4%;
	position: relative;
}
.branding{
	float:left;
	width:190px;
}
.login-con {
	float: left;
	width: 100%;
	padding: 52px 15% 0 0;
}
.login-con h1 {
	padding-top: 25px;
}
.form-main {
	float: left;
	width: 100%;
	padding-top: 35px;
}
.form-raw {
	float: left;
	width: 100%;
	padding-top: 15px;
}
.form-main label {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	font-size: 16px;
	color: #000;
	font-weight: 400;
	line-height: 120%;
}
.form-main .form-control {
	background: #ffffff;
}
.form-main .btn-main {
	width: 100%;
	height: 56px;
	margin: 25px 0 0;
	box-shadow: 2px 4px 13px rgba(244, 0, 9, 0.25);
	-moz-box-shadow: 2px 4px 13px rgba(244, 0, 9, 0.25);
	-webkit-box-shadow: 2px 4px 13px rgba(244, 0, 9, 0.25);
}
.form-main .fogot {
	float: right;
	width: auto;
	margin-top: 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 120%;
	font-style: italic;
}
.login-right{
	height: 100vh;
}
.login-right .img-wrap{
	height: 100%;
}
.login-right img{
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ------ Login-end ------ */

/*-----------------res-nav-Start-------------------*/
.res-navigation{
	display:none;
	width:30px;
	height:15px;
	position:absolute;
	left:15px;
	top:-35px;
}
.nav-toggle {
    position: absolute;
    top:0;
    left: 0;
    z-index: 999999;
    padding:5px 30px 13px 0;
    cursor: pointer;
}
.nav-toggle:focus {
    outline: none;
}
.nav-toggle.active .top {
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
  -ms-transform: translateY(7px) translateX(0) rotate(45deg);
  transform: translateY(7px) translateX(0) rotate(45deg);
  background:#333;
}
.nav-toggle.active .middle {
  opacity: 0;
  background: #FFF;
}
.nav-toggle.active .bottom {
   -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
   -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
   transform: translateY(-7px) translateX(0) rotate(-45deg);
   background:#333;
}
.nav-toggle span {
  background:#333;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top:-2px;
  left: 0;
  -webkit-transition: all .55s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.nav-toggle span:nth-of-type(2) {
  top:5px;
}
.nav-toggle span:nth-of-type(3) {
  top:12px;
}
/*-----------------res-nav-end-------------------*/

/*-------------------Index Page Start-------*/
#header {
	background: #fff;
	float: left;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #DBDBDB;
	position: fixed;
	z-index: 999;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
}
.header-main {
	float: left;
	width: 100%;
	position: relative;
}
.header-main .branding{
	width: 104px;
	padding: 12px 0;
}
.header-right{
	float: right;
	width: auto;
	position: absolute;
	right: 1%;
	top: 0;
	padding-right: 82px;
}
.nav-main li{
	float: left;
	width: auto;
	margin-right: 25px;
	position: relative;
}
.nav-main li a{
	float: left;
	width: auto;
	padding: 0 20px 0 40px; 
	font-size: 16px;
	font-weight: 600;
	color: #6E6E6E;
	line-height: 80px;
	position: relative;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
}
.nav-main li a:hover, .nav-main li a:focus, .nav-main li.active a,
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	color: #F40000;
	background: transparent;
}
.nav-main li i{
	background: #ffffff;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 26px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 27px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	behavior:url(PIE.htc);
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.nav-main li i svg{
	fill: #6E6E6E;
	stroke: #6E6E6E;
	display: inline-block;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    vertical-align: middle;
}
.nav-main li a:hover i svg, .nav-main li.active a i svg{
	fill: #ffffff;
	stroke: #ffffff;
}
.nav-main li a:hover i, .nav-main li.active a i{
	background: #F40000;
}
.nav-main .sub-nav{
	float: left;
	background: #fff;
	width: 100%;
	border: 1px solid #DBDBDB;
	padding: 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	position: absolute;
	top: 100px;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	opacity: 0;
	visibility: hidden;
}
.nav-main ul li.has-sub:hover .sub-nav{
	top: 80px;
	opacity: 1;
	visibility: visible;
}
.nav-main .sub-nav ul{
	padding: 0 25px 15px;
}
.nav-main .sub-nav ul li{
	float: left;
	width: 100%;
	margin: 10px 0 0;
}
.nav-main .sub-nav ul li a{
	line-height: 40px;
	padding-right: 0;
}
.nav-main .sub-nav ul li i{
	top: 8px;
}
.nav-main ul li.has-sub:hover .caret{
	transform: rotate(180deg);
}
.profile{
	position: absolute;
	right: 0;
	top: 0;
}
.profile button{
	background: transparent;
	display: inline-block;
	line-height: 80px;
	padding: 0 25px;
	border-left: 1px solid #DBDBDB;
}
.user-avtar{
	background: #ffffff;
	border: 1px solid #ABABAB;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	line-height: 24px;
	text-align: center;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	behavior:url(PIE.htc);
	position:relative;
}
.user-avtar img{
	width: 12px;
	display: inline-block;
}
.prfile-box {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0 20px 25px;
    position: absolute;
    right: 0;
    top: 81px;
    transform: scale(1, 0);
    transform-origin: center top 0;
    transition: all 0.25s ease 0s;
    width: 215px;
	z-index: 9;
	text-align: left;
}
.profile.open .prfile-box {
	transform: scale(1)
}
.header-main  .prfile-box ul li{
	margin-top: 20px;
	line-height: 120%;
}

.prfile-box ul li a{
	color: #6E6E6E;
	font-weight: 600;
	font-size: 14px;
    line-height: 120%;
    padding: 5px 0 5px 30px;
    transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	text-transform: capitalize;
}
.prfile-box ul li a:hover{
	padding: 5px 0 5px 35px;
	color: #F40000;
}
.prfile-box  ul li.pers_info a {
    background: url(../images/profile-user.svg) no-repeat  left center;
}
.prfile-box  ul li.logout a {
    background: url(../images/ic-logout.svg) no-repeat  left center;
}
.main-wraper{
	margin-top: 80px;
}
.need-wrap{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	min-height: 162px;
	position: relative;
	z-index: 9;
}
.need-wrap:before{
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
}

.inner-title h1{
	font-size: 24px;
}
.inner-title p{
	padding-top: 20px;
}
.campaigns-wraper{
	position: relative;
	padding-bottom: 50px;
}
.campaign-action{
	float: left;
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 99;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 25px;
}


.campaign-tab{
	display: inline-block;
	width: auto;
	position: relative;
}
.campaign-tab ul li{
	float: left;
	width: auto;
	padding: 0 40px;
}
.campaign-tab ul li a{
	background: transparent;
	float: left;
	width: auto;
	padding: 0;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.4;
}
.campaign-tab ul li.active a{
	opacity: 1;
}
.campaign-tab ul li a:hover, .campaign-tab ul li a:focus{
	background: transparent;
}	
.campaign-main{
	padding-top: 30px;
}
.campaigns-head{
	float: left;
	width: 100%;
	text-align:  center;
	padding: 0 20%;
	position: relative;
}
.campaigns-head h2{
	float: none;
	display: inline-block;
	width: auto;
}
.value-filter{
	position: absolute;
	right: 0;
	top: -3px;
	display: inline-block;
}
.value-filter .form-control{
	background: #fff url(../images/ic-trier.svg) no-repeat right 20px center;
	width: 210px;
	height: 37px;
	padding: 0 40px 0 15px;
	border: 1px solid #C2C6CB;
	font-size: 16px;
}
.value-filter .form-control option{
	padding-left: 20px;
	font-size: 16px;
}

option{
    font-size:18px;
	background-color:#ffffff;
	position: relative;
}
option:before{
    content: ">";
    font-size:20px;
    padding-right:10px;
    padding-left:5px;
	color:#333;
	position: absolute;
	left: 0;
	top: 0;
}


.switch {
	position: absolute;
	display: inline-block;
	width: 48px;
	height: 22px;
	left: 40px;
	right: 0;
	margin: 0 auto;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #137EC1;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 2px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch input:checked + .slider {
  background-color: #F40000;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.campaigns-list{
	float: left;
	width: 100%;
	position: relative;
	padding-top: 30px;
}
.campaigns-list ul li{
	float: left;
	width: 32.3%;
	margin:15px 1.5% 0 0;
	position: relative;
}
.campaigns-list ul li:nth-child(3n){
	margin-right: 0;
}
.campaigns-box{
	background: #ffffff;
	float: left;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;
	behavior:url(PIE.htc);
	position:relative;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.campaigns-box .img-wrap{
	height: 255px;
}
.campaigns-box .img-wrap img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	overflow: hidden;
	behavior:url(PIE.htc);
	position:relative;
	display: inline-block;

}
.campaigns-box .text-wrap{
	padding: 35px 25px;
}
.campaigns-ico{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	-webkit-border-radius: 100px;;
	-moz-border-radius: 100px;;
	overflow: hidden;
	behavior:url(PIE.htc);
	position:relative;
}
.campaigns-ico img{
	width: 100%;
	height: 100%;
}
.campaigns-box .text-wrap h4{
	width: 68%;
	padding-left: 15px;
	line-height: 40px;
	text-transform: capitalize;
}  
.campaigns-list .range{
	position: absolute;
	right: 25px;
	bottom: 44px;
	margin: 0;
	line-height: inherit;
}
.campaigns-box:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	behavior:url(PIE.htc);
	position:relative;
}
.campaigns-box:hover h4{
	color: #F40000;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 12px 0;
	background: #93A1AD;
}
.footer-con{
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
}
.footer-con a, .footer-con p{
	float: none;
	display: inline-block;
	width: auto;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	line-height: 120%;
}
.footer-con p.copy{
	background: url(../images/footer-logo.svg) no-repeat left center;
	padding-left: 20px;
}
.footer-con a{
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: underline;
}


.support-box{
	background: #ffffff;
	float: left;
	width: 49%;
	margin-top: 50px;
	padding: 35px 45px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	behavior:url(PIE.htc);
	position:relative;
}
.support-box:nth-child(2n){
	float: right;
}
.support-box h4{
	padding-bottom: 15px;
}
.support-box a{
	background: url(../images/arrow-circle.svg) no-repeat right 25px center;
	float: left;
	width: 100%;
	height: 70;
	line-height: 70px;
	padding:  0 50px 0 75px;
	margin-top: 5px;
	border: 1px solid #D4D4D4;
	font-size: 18px;
	font-weight: 500;
	color: #273138;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	behavior:url(PIE.htc);
	position:relative;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.support-box a i{
	width: auto;
	height: auto;
	position: absolute;
	left: 30px;
	top: 0;
}
.support-box a i svg{
	fill: #137EC1;
	vertical-align: middle;
}
.support-box a:hover{
	background: #F40000 url(../images/arrow-circle-white.svg) no-repeat right 20px center;
	border-color: #F40000;
	color: #fff;
}
.support-box a:hover i svg{
	fill: #fff;
}

.reference-wrap{
	padding-left: 45px;
}
.reference-list{
	padding-top: 30px;
}
.reference-list ul li{
	float: left;
	width: 19%;
	margin: 15px 1.2% 0 0;
}
.reference-list ul li:nth-child(5n){
	margin-right: 0;
}
.reference-box{
	background: #fff;
	float: left;
	width: 100%;
	padding: 35px 35px 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	behavior:url(PIE.htc);
	text-align: center;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.reference-list .img-wrap{
	min-height: 80px;
	line-height: 80px;
}
.reference-list img{
	display: inline-block;
	vertical-align: middle;
}
.reference-list h5{
	padding-top: 15px;
	text-transform: capitalize;
}
.reference-box:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	behavior:url(PIE.htc);
	position:relative;
}
.reference-box:hover h5{
	color: #F40000;
}

.range { 
  float: right;
  width: auto;
  line-height: 42px;
}
.range > input { display: none; } 
.range > label:before { 
  margin: 0 2px;
  font-size: 16px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f153";
}
.range > label { 
  color: #CECECE; 
  float: right;
  cursor: pointer; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.range > input:checked ~ label, /* show gold star when clicked */
.range:not(:checked) > label:hover, /* hover current star */
.range:not(:checked) > label:hover ~ label { color: #137EC1;  } /* hover previous stars in list */

.range > input:checked + label:hover, /* hover current star when changing rating */
.range > input:checked ~ label:hover,
.range > label:hover ~ input:checked ~ label, /* lighten current selection */
.range > input:checked ~ label:hover ~ label { color: #137EC1;  } 		




.details-wrap{
	padding: 0 8%;
}

.details-left{
	padding-right: 35px;
	position: sticky;
	top: 100px;
	position :-webkit-sticky;
}			
.details-left .img-wrap img{
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}	
.details-rating{
	float: left;
	width: 100%;
	padding-top: 20px;
}
.details-rating ul li{
	float: left;
	width: 100%;
	padding-top: 15px;
} 

.details-rating .range{
	float: left;
	line-height: inherit;
	padding-top: 5px;
	margin: 0;
}
.details-rating .range.start label::before{
	content: "\f006"
}
.details-rating .range.start > input:checked ~ label::before{
	content: "\f005"
}
.details-right{
	padding-left: 30px;
}
.detials-head{
	float: left;
	width: 100%;
}
.detials-title{
	float: left;
	width: 100%;
	padding-right: 25%;
	position: relative;
}
.detials-title p{
	color: #273138;
	padding-top: 5px;
}
.detials-title .time{
	background: url(../images/ic-clock.svg) no-repeat left center;
	float: right;
	width: auto;
	position: absolute;
	right: 0;
	top: 10px;
	padding: 3px 0 6px 30px;
	font-size: 16px;
	color: #273138;
	font-weight: 600;
	line-height: 120%;
}
.attract-list{
	float: left;
	width: 100%;
	padding-top: 15px;
}
.attract-list ul li{
	float: left;
	width: 32%;
	margin: 10px 2% 0 0;
}
.attract-list ul li:nth-child(3n){
	margin-right: 0;
}
.attract-list h5{
	color: #9FA5AC;
}
.attract-list .start-btn{
	position: relative;
	width: 100%;
	right: inherit;
}
.attract-list .start-btn .btn-main{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	height: 48px;
	line-height: 48px;
}
.attract-btn{
	background: rgba(19, 126, 193, 0.1);
	float: left;
	width: 100%;
	height: 40px;
	line-height: 38px;
	padding: 0 20px 0 50px;
	margin: 10px 0 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 16px;
	color: #137EC1;
	font-weight: 500;
	position: relative;
	behavior:url(PIE.htc);
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.attract-btn:hover{
	background: rgba(19, 126, 193, 0.2);
}
.attract-btn i{
	position: absolute;
	left: 15px;
	top:  10px;
	width: 20px;
	height: 20px;
}


.derails-raw{
	float: left;
	width: 100%;
	padding-top: 60px;
}
.derails-raw h4{
	font-weight: 600;
	color: #000;
	font-size: 16px;
}

.panel-group{
	float: left;
	width: 100%;
	margin: 15px 0 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.panel{
	border: none;
	box-shadow: none;
}
.panel-heading{
	padding: 0;
	background-image: none !important;
	background: transparent;
}
.panel-title a{
	background: #fff url(../images/ic-callapse-close.svg) no-repeat left 25px center;
	display: inline-block;
	width: 100%;
	padding: 15px 20px 15px 65px;
	font-size: 16px;
	font-weight: 500;
	color: #273138;
}
.panel-title a.collapsed{
	background: #DEE4EA url(../images/ic-callapse-open.svg) no-repeat left 25px center;
}
.panel-body{
	padding: 10px 60px 40px;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body{
	border: none;
}
.panel-body p{
	padding-top: 15px;
	font-size: 16px;	
}


.pack-main{
	float: left;
	width: 100%;
	padding-top: 30px;
}
.pack-box{
	background: #fff;
	float: left;
	width: 100%;
	padding: 25px;
	margin-top: 10px;
	position: relative;
}
.pack-title{
	float: left;
	width: 18%;
	background: url(../images/ic-pack.svg) no-repeat left top;
	padding: 0 0 0 35px;
}
.pack-title h2{
	font-size: 20px;
}
.pack-title .time{
	background: url(../images/ic-clock-blue.svg) no-repeat left center;
	float: left;
	padding: 8px 0 8px 25px;
	font-weight: 500;
	font-size: 14px;
	color: #137EC1;
} 
.pack-list{
	float: left;
	width: 65%;
	padding-left: 15px;
	margin: 10px 0 0;
}
.pack-list ul li{
	background: url(../images/ic-user.svg) no-repeat left center;
	float: left;
	width: 33%;
	padding: 0 15px 0 30px;
}
.pack-list h5{
	color: #9FA5AC;
}
.pack-list span{
	font-size: 16px;
	font-weight: 600;
	color: #273138;
}
.start-btn{
	float: right;
	width: 17%;
}
.start-btn .btn-main{
	background: #137EC1;
	width: 100%;
	height: 36px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	line-height: 34px;
	margin-top: 10px;
}
.start-btn .btn-main:hover{
	background: #106AA0;
}
.banner_con {
    float: left;
    width: 100%;
    text-align: center;
}
.baaner_type {
    float: left;
    width: auto;
    padding: 25px 0 0;
    text-align: center;
}
.baaner_type h6{
	float: none;
	width: auto;
	font-size: 12px;
	color: #6E6E6E;
	font-weight: 500;
}
.baaner_type p{
	padding: 0;
	font-size: 12px;
	opacity: 0.5;
	font-weight: 500;
}
.baaner_type img {
    padding-top: 10px;
    display: inline-block;
}


.need-selector{
	float: left;
	width: 100%;
	position: relative;
}
.need-selector .dropdown{
	display: inline-block;
	width: 50%;
	text-align: left;
	margin-top: 30px;
}

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }

/* DT styles for sliding doors */
.dropdown dt label {
	background:#fff; 
	display: block; 
	padding:0 40px 0 65px;  
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	border-radius: 4px;
	overflow: hidden;
}
.dropdown dt label:before{
	background:#fff url(../images/need-arrow.svg) no-repeat center; 
	position: absolute;
	right: 10px;
	top: 15px;
	width: 30px;
	height: 30px;
	content: "";
}
.dropdown dt i{
	position: absolute;
	left: 25px;
	top: 3px;
	width: 22px;
	height: 15px;
}
.dropdown dt i svg{
	fill: #273138;
}
.dropdown dt i:after{
	width: 12px;
	height: 12px;
	position: absolute;
	right: -2px;
	top: 15px;
	background: #F40000;
	content: "";
	border-radius: 100px;
	border: 2px solid #fff;
	opacity: 0;
}
.dropdown dt span .checkmark{
	display: none;
}
.dropdown dt span label{
	font-weight: 500;
} 
.dropdown dt span {
	cursor:pointer; 
	display:block; 
	padding:0;
	font-size: 18px;
	font-weight: 500;
	color: #273138;
	text-decoration: none;
}
.dropdown dt:hover i svg, .dropdown dt:focus i svg,
.dropdown.active i svg{
	fill: #137EC1;
}
.dropdown dt span:hover, .dropdown dt span:focus,
.dropdown.active dt span{
	color: #137EC1;
}
.dropdown.active dt i:after{
	opacity: 1
}
/*.dropdown.active dt label:before{
	background:#fff url(../images/need-arrow-active.svg) no-repeat center;
}*/
/* UL styles */
.dropdown dd ul { 
	background:#fff;
	display:none;
	list-style:none; 
	position:absolute; 
	left: 0px; 
	top: -3px; 
	width: auto; 
	width: 100%;
	padding: 25px 65px 25px 25px;
	z-index: 9;
}
.dropdown span.value { display:none;}
.dropdown dd ul li a { 
	display: block;
	outline: none;
	text-decoration: none;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	position: relative;
}
.dropdown dd ul li  label{
	padding: 10px 0 10px 40px; 
	font-size: 18px;
	color: #B4B4B4;
	font-weight: 500;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	cursor: pointer;
	position: relative;
} 
.dropdown dd ul li a:hover label{
	color: #137EC1;
	text-decoration: none;
}
.dropdown span.value { display:none; }

.checkmark {
	position: absolute;
	top: 14px;
	left: 0;
	height: 22px;
	width: 22px;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid #B4B4B4;
}
.need-selector input:checked ~ .checkmark {
	background-color: #ffffff;
	border-color: #137EC1;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.need-selector input:checked ~ .checkmark:after {
	display: block;
}
.checkmark:after {
 	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #137EC1;
}
.need-selector input{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

.refres-btn{
	background: #fff url(../images/ic-refresh.svg) no-repeat left 15px center;
	width: auto;
	height: 32px;
	line-height: 32px;
	padding: 0 20px 0 40px;
	font-size: 14px;
	font-weight: 500;
	color: #9FA5AC;
	text-transform: uppercase;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: absolute;
	right: 135px;
	top: 45px;
}




.passport-main{
	position: relative;
}
.passport-banner{
	float: left;
	width: 48%;
	height: 100vh;
	background-size: cover !important;
	background-position: right center !important;
	position: fixed;
	left: 0;
	top: 0;
}
.passport-banner:before{
	background: #273138;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	opacity: 0.6;
}
.passport-con{
	float: left;
	width: 70%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
}
.passport-social{
	float: left;
	width: 100%;
}
.passport-social ul li{
	float: left;
	width: auto;
	margin-right: 10px;	
	text-align: center;
}
.passport-social ul li a{
	background: #fff;
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.passport-social ul li a img{
	display: inline-block
}
.passport-con h1{
	color: #fff;
}




.filed-main{
	float: right;
	width: 50%;
	padding: 10px 0 0 10px;
}
.field-box{
	background: #fff;
	float: left;
	width: 100%;
	padding: 35px 85px;
	margin-top: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	position: relative;
}
.field-raw{
	float: left;
	width: 100%;
	padding-top: 12px;
}
.field-raw:first-child{
	padding: 0;
}
.field-raw label{
	float: left;
	width: 100%;
	font-size: 16px;
	color: #6e6e6e;
	font-weight: 600;
	line-height: 120%;
}
.field-raw .form-control{
	margin-top: 10px;
}
.pssport-no .form-control{
	padding: 0;
	width: 6.7%;
	margin-right: 2px;
	text-align: center;
}
.pssport-no .form-control:last-child{
	margin-right: 0;
}

.shiled-box{
	float: left;
	width: 100%;
	background: rgba(39, 174, 96, 0.15);
	border: 1px solid #27AE60;
	padding: 25px 30px;
	margin-top: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	position: relative;
}
.shiled-con{
	float: left;
	width: 100%;
	padding-left: 40px;	
}
.shiled-con p{
	font-size: 16px;
	font-weight: 500;
	line-height: 140%;	
	color: #4F4F4F;
}

.shiled-con label{
	float: left;
	margin-top: 6px;
	font-size: 16px;
	color: #27AE60;
	font-weight: 600;
	line-height: 120%;
}




	/*box-shadow:2px 0px 0px #000000;
	-webkit-box-shadow:2px 0px 0px #000000;
    -moz-box-shadow:2px 0px 0px #000000;
	behavior:url(PIE.htc);
	position:relative;
	
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
	
	border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
    -moz-border-radius:0 0 2px 2px;
	behavior:url(PIE.htc);
	position:relative;
	


	font-family: 'Barlow', sans-serif;


	font-family: 'Barlow', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#666666;
	line-height:200%;


	
	*/




















